[submodule "stow_home/zsh/.config/zsh/themes/spaceship-prompt"]
	path = stow_home/zsh/.config/zsh/themes/spaceship-prompt
	url = https://github.com/spaceship-prompt/spaceship-prompt.git
[submodule "stow_home/zsh/.config/zsh/plugins/fast-syntax-highlighting"]
	path = stow_home/zsh/.config/zsh/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma-zmirror/fast-syntax-highlighting.git
[submodule "stow_home/zsh/.config/zsh/plugins/zsh-autosuggestions"]
	path = stow_home/zsh/.config/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "stow_home/zsh/.config/zsh/plugins/zsh-completions"]
	path = stow_home/zsh/.config/zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "stow_home/nvim/.local/share/nvim/site/pack/packer/start/packer.nvim"]
	path = stow_home/nvim/.local/share/nvim/site/pack/packer/start/packer.nvim
	url = https://github.com/wbthomason/packer.nvim
