@import "./themes/catppuccin/mocha.css";

* {
  border: none;
  border-radius: 1.2rem;
  min-height: 0;
  padding: 0;
  font-family: "BerkeleyMono";
  font-weight: 500;
  font-size: 14px;
}

window#waybar {
  background: @surface0;
  border: 1px solid @surface1;
  color: @text;
}

tooltip {
  background-color: @surface0;
  border: 1px solid @surface1;
}

#workspaces {
  border-radius: 1rem;
  background-color: @surface0;
  margin: 5px;
  /* margin-left: 0.6rem; */
  padding: 4px;
  /* border: 1px solid @surface1; */
}

#workspaces button {
  padding: 0.3rem;
  border-radius: 1rem;
  /* box-shadow: inset 0 -3px transparent; */
  color: @lavender;
}

#workspaces button.active {
  color: @sky;
}

#workspaces button:hover {
  color: @sapphire;
}

#workspaces button.urgent {
  background-color: @peach;
  color: @mantle;
}

#clock,
#pulseaudio,
#cpu,
#memory,
#network,
#battery,
#tray,
#custom-nc {
  background-color: @surface0;
  border-radius: 1rem;
  margin: 5px;
  padding: 0.1rem 0.8rem;
}

#clock {
  background-color: @mantle;
  border: 1px solid @surface1;
  color: @text;
}

#tray {
  background-color: @surface1;
  /* border: 1px solid @surface1; */
  color: @mantle;
}

#battery {
  background-color: @green;
  /* border: 1px solid @surface1; */
  color: @mantle;
}

#pulseaudio,
#cpu,
#memory,
#network,
#custom-nc {
  background-color: @surface1;
  /* border: 1px solid @surface1; */
  color: @text;
}

#cpu.critical,
#memory.critical {
  background-color: @surface1;
  /* border: 1px solid @surface1; */
  color: @text;
}

#battery.warning,
#battery.critical,
#battery.urgent {
  background-color: @surface1;
  /* border: 1px solid @surface1; */
  color: @text;
}
