@import "./themes/tinted-theming/tinted-theming.css";

* {
  border: none;
  border-radius: 1.2rem;
  min-height: 0;
  padding: 0;
  font-family: "BlexMonoNerdFontMono";
  font-weight: 500;
  font-size: 14px;
}

window#waybar {
  background: transparent;
  color: @base05;
}

tooltip {
  background-color: @base02;
  border: 1px solid @base00;
}

#workspaces {
  border-radius: 1rem;
  margin: 3px;
  background-color: @base00;
}

#workspaces button {
  min-width: 1.4rem;
  min-height: 1.4rem;
  padding: 0.3rem;
  margin: 2px;
  border-radius: 1rem;
  background-color: @base03;
  color: @base00;
}

#workspaces button.active {
  color: @base00;
  background-color: @base0D;
}

#workspaces button:hover {
  color: @base0D;
  background-color: @base0C;
}

#workspaces button.urgent {
  background-color: @base09;
  color: @base01;
}

#clock,
#pulseaudio,
#cpu,
#memory,
#network,
#battery,
#tray,
#custom-bs,
#custom-nc {
  background-color: @base02;
  border-radius: 1rem;
  margin: 5px;
  padding: 0.1rem 0.8rem;
}

#clock {
  background-color: @base01;
  border: 1px solid @base00;
  color: @base05;
}

#tray {
  background-color: @base00;
  /* border: 1px solid @base00; */
  color: @base01;
}

#battery {
  background-color: @base0B;
  /* border: 1px solid @base00; */
  color: @base01;
}

#pulseaudio,
#cpu,
#memory,
#network,
#custom-bs,
#custom-nc {
  background-color: @base00;
  /* border: 1px solid @base00; */
  color: @base05;
}

#cpu.critical,
#memory.critical {
  background-color: @base00;
  /* border: 1px solid @base00; */
  color: @base05;
}

#battery.warning,
#battery.critical,
#battery.urgent {
  background-color: @base00;
  /* border: 1px solid @base00; */
  color: @base05;
}

#custom-bs.very-high {
  background-color: @base08;
  color: @base01;
}
#custom-bs.high {
  background-color: @base0A;
  color: @base01;
}
#custom-bs.normal {
  background-color: @base0C;
  color: @base01;
}
#custom-bs.low {
  background-color: @base0A;
  color: @base01;
}
#custom-bs.very-low {
  background-color: @base08;
  color: @base01;
}
#custom-bs.stale {
  background-color: @base0F;
  color: @base01;
}
